<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='foundation.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='app.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='foundation-icons.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} />
    
  </head>
  <body>



<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Cisco POS</li>
        <li>
            <li><a href="/">Home</a></li>
        </li>
        <li>
          <a href="#">CSA Reports</a>
          <ul class="menu vertical">
            <li><a href="/">SWSO</a></li>
          </ul>
        </li>
        <li>
            <a href="#">Tools</a>
            <ul class="menu vertical">
                <li><a href="amlist">AM Customer List Tool</a></li>
                <li><a href="aggsearch">Aggressive Search Tool</a></li>
                <li><a href="realtime">Real Time Search Tool</a></li>
            </ul>
        </li>        
        
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
      </ul>
    </div>
  </div>   



    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 cell">
          <h1>{{ title }}</h1>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 cell">
          <div class="callout">
            <p>{{ description }} </p>
            <span>Updated: </span><h3><strong>{{ recent }}</strong></h3>
            <a href="/SWSO/current_data.html"  target="_blank" class="success button">Generate Report</a><br/>
            
            
          </div>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 cell">
          <h5>Additional Files for SWSO</h5>
          <!-- Grid Example -->

            <div class="large-8 medium-8 cell">
              <div class="primary callout">
                <p>Current_data above is the main report for all AMs in SWSO</p>
                <p>Monthly reports includes same data as Current_data, seperated by month</p>
                <p>For each report, click the POS ID to generate email for OneCommercial</p>

                {%- for item in files %}
                <ul><a href="/SWSO/{{ item }}" target="_blank">{{ item }}</a></ul>
                {%- endfor %}

                <p>Aggressive Search Files</p>
                <p>Aggressive Search Reports are an optional report that will include potentially misspelled account names</p>
                {%- for item in aggfiles %}
                <ul><a href="/SWSO/{{ item }}" target="_blank">{{ item }}</a></ul>
                {%- endfor %}
                
              </div>
            </div>


      </div>
      <div class="large-8 medium-8 cell">
        <video width="100%" height="100%"controls="true" poster={{ url_for('static', filename='media/vidpic.png') }}>
          <source src={{ url_for('static', filename='media/POS-tut2.mp4') }} type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </div>
    </div>

    <script src={{ url_for('static', filename='vendor/jquery.js') }}></script>
    <script src={{ url_for('static', filename='vendor/what-input.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.js') }}></script>
    <script src={{ url_for('static', filename='app.js') }}></script>
  </body>
</html>
