
        <li>
          <a href="/reports/Americas">Americas</a>
          <ul class="menu vertical">
            <a href="/reports/Americas/US_COMMERCIAL">US_COMMERCIAL</a>
            <ul class="menu vertical">          
              <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA">COMMERCIAL_SOUTH_AREA</a>
              <ul class="menu vertical">
                <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_West_Select_Operation">South_West_Select_Operation</a></li>
                <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_East_Select_Operation">South_East_Select_Operation</a></li>
                <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_Territory_Operation">South_Territory_Operation</a></li>
              </ul>
            </ul>
          </ul>
        </li>
        <li>
            <a href="#">Tools</a>
            <ul class="menu vertical">
                <li><a href="amlist">AM Customer List Tool</a></li>
                <li><a href="aggsearch">Aggressive Search Tool</a></li>
                <li><a href="realtime">Real Time Search Tool</a></li>
            </ul>
        </li>        
